

.carousel-inner > .item > img {
    width: 100%;
}
.content p {
	display: inline-block;
	border: 2px solid black;
	border-radius: 2%;
	padding: 15px;
	background-color: #1C1E22;
}

table-2 {
	border: 2px solid black;
}

#red {
	display: inline-block;
	border: 2px solid green;
	border-radius: 10%;
}
form {
	padding-top: 15px;
}
.tab-bottom {
	background-color: #1D1E22;
}

#footer {
	margin-top: 15px;
	border-top: 1px solid black;
	padding: 20px 0;
}